.shipKeys > div, .shipKeys > a {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-right: 50px;
  margin-top: 10px;
}

.shipKeys > a, .shipValues > a {
  display: block;
  color: #fff;
}

.shipValues > div, .shipValues > a {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: 10px;
  text-align: left;
}

.shipHub {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  align-content: center;
  flex-direction: column;
  font-family: 'Roboto Condensed';
  margin-top: 25vmin;
  margin-bottom: auto;
}

.ships {
  height: fit-content;
  width: fit-content;
  padding: 20px;
  background-color: rgba(16, 71, 71,.7);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  font-size: x-large;
  color: #fff;
}