.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: white;
  text-transform: uppercase;
}

.shipHub {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  font-family: 'Roboto Condensed'
}

.ships {
  height: 100px;
  width: 300px;
  padding: 30px;
  background-color: rgba(16, 71, 71,.7);
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: #fff;
}